body {
    background-color: orange;
}
nav {
    display: flex;
}
nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul >  li {
    display: inline-block;
    margin-right: 20%; 
}

main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.logo{
    width: 6%;
    height: auto;
}

.item1 {
    border: 2px solid tomato;
    grid-column: 1 / 6;
}

.item2 {
    border: 2px solid tomato;
    grid-column: 2;
}
.item3 {
    border: 2px solid tomato;
    grid-row: 3;
    grid-column: 2;

}
.item4 {
    border: 2px solid tomato;
    grid-column: 4;

}
.item5 {
    border: 2px solid tomato;
    grid-row: 3;
    grid-column: 4;
}
.item6 {
    border: 2px solid tomato;
    grid-row: 4;
    grid-column: 3;
}